In [1]:
import grequests
import geopandas as gpd
from datetime import datetime
import pandas as pd

C:\Users\halpe\anaconda3\envs\trees\lib\site-packages\gevent\hub.py:154: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [2]:
state2Digit = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [3]:
urls = [f"https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_{stateCode}_external" for stateCode in state2Digit]
breakpoint = 12
urlDict = []
for i in range(0,5):
    urlDict.append(urls[breakpoint*i:breakpoint*(i+1)])

In [5]:
responses = []
for urlList in urlDict:
    rs = (grequests.get(u,  timeout=120) for u in urlList)
    response = grequests.map(rs)
    responses.append(response)

In [6]:
parsed = ''

for responseSet in responses:
    for response in responseSet:
        if len(parsed)==0:
            parsed = pd.DataFrame(response.json()['integrated_county_timeseries_external_data'])
        else:
            parsed = pd.concat([parsed, pd.DataFrame(response.json()['integrated_county_timeseries_external_data'])])

parsed = parsed.sort_values('date')
parsed['date'] = parsed['date'].str.slice(0,-9)

In [28]:
countyPops = parsed[['fips_code', 'state']].merge(pd.read_csv('county_populations.csv')[["GEOID",'population']], 
           how="left", left_on="fips_code", right_on="GEOID")[['fips_code','state','population']].drop_duplicates()

In [7]:
colsToParse = [
    {
        'column':'new_cases_7_day_rolling_average',
        'csv':'covid_confirmed_cdc'
    },
    {
        'column':'new_deaths_7_day_rolling_average', 
        'csv':'covid_deaths_cdc', 
    },
    {
        'column':'new_test_results_reported_7_day_rolling_average', 
        'csv':'covid_testing_cdc'
    },
    {
        'column':'percent_new_test_results_reported_positive_7_day_rolling_average',
        'csv':'covid_wk_pos_cdc'
    }]

In [32]:
dfs = []
for entry in colsToParse:
    colName = entry['column']
    print(colName)
    # thanks to @piRSquared on stackoverflow for this nifty pivot expressions
    # https://stackoverflow.com/questions/54915215/expressing-time-series-data-in-the-columns-rather-than-the-rows-of-a-dataframe
    tempDf = parsed[['fips_code','date',colName]]
    tempDf = tempDf.pivot_table(index='fips_code', columns='date').swaplevel(0, 1, 1).sort_index(1).reset_index()
    tempDf.columns = [column[0] for column in list(tempDf.columns)]
    dfs.append(tempDf)
#     tempDf.to_csv(f'./csv/{entry["csv"]}.csv')

new_cases_7_day_rolling_average
new_deaths_7_day_rolling_average
new_test_results_reported_7_day_rolling_average
percent_new_test_results_reported_positive_7_day_rolling_average

In [34]:
test_results = dfs[2].merge(countyPops, on="fips_code", how="left")

In [42]:
test_results = test_results.merge(test_results[['state','population']].groupby('state') \
.sum().rename(columns={'population': 'statePopulation'}).reset_index(),
                  how="left", on="state")

In [45]:
test_results.head()

,fips_code,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2021-01-27,2021-01-28,2021-01-29,2021-01-30,2021-01-31,2021-02-01,state,population,statePopulation,proportion
0,1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,161.43,146.29,142.86,134.00,122.14,0.0,AL,55200,4864680,0.011347
1,1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,530.71,491.43,452.29,447.29,441.14,0.0,AL,208107,4864680,0.042779
2,1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42.14,38.57,33.29,25.57,24.86,0.0,AL,25782,4864680,0.005300
3,1007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.00,52.86,46.86,44.00,38.57,0.0,AL,22527,4864680,0.004631
4,1009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,102.00,99.00,90.14,93.71,93.43,0.0,AL,57645,4864680,0.011850

In [44]:
test_results['proportion'] = test_results['population']/test_results['statePopulation']

In [ ]:
[]