In [34]:
import geopandas as gpd
import pandas as pd

In [35]:
geom = gpd.read_file('countries_simplified.geojson')
geom['UID'] = geom['UID'].astype('object')

In [36]:
lookupTable = pd.read_csv('UID_ISO_FIPS_LookUp_Table.csv')[['UID','iso2', 'iso3','Combined_Key','Population']]

In [37]:
geom.head()

   UID                                           geometry
0    4  POLYGON ((71.04980 38.40866, 70.97404 38.47367...
1   24  MULTIPOLYGON (((11.73752 -16.69258, 11.71975 -...
2    8  POLYGON ((20.06496 42.54676, 19.81960 42.46648...
3   20  POLYGON ((1.70701 42.50278, 1.72199 42.60986, ...
4  784  MULTIPOLYGON (((53.86305 24.23469, 53.65610 24...

In [54]:
lookupTable[lookupTable['Combined_Key']=='Altai, Russia']

          UID iso2 iso3   Combined_Key  Population
492  643023.0   RU  RUS  Altai, Russia   2568143.0

In [43]:
geom

       UID                                           geometry
0        4  POLYGON ((71.04980 38.40866, 70.97404 38.47367...
1       24  MULTIPOLYGON (((11.73752 -16.69258, 11.71975 -...
2        8  POLYGON ((20.06496 42.54676, 19.81960 42.46648...
3       20  POLYGON ((1.70701 42.50278, 1.72199 42.60986, ...
4      784  MULTIPOLYGON (((53.86305 24.23469, 53.65610 24...
..     ...                                                ...
763  15629  POLYGON ((96.36517 42.71708, 96.32445 42.88243...
764  15630  POLYGON ((105.30025 27.70911, 105.17596 28.068...
765  15631  MULTIPOLYGON (((121.23542 28.21820, 121.15125 ...
766    344                                               None
767    446                                               None

[768 rows x 2 columns]

In [55]:
merged = geom.merge(lookupTable, left_on="UID", right_on="UID", how="left")
merged = merged[merged.geometry.notnull()]

In [56]:
merged.to_file("jhu_world.geojson", driver='GeoJSON')

In [60]:
merged['UID'].to_csv('currentUidList.csv', index=False)

<ipython-input-60-02457abd6825>:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  merged['UID'].to_csv('currentUidList.csv', index=False)